.vs
debug
release
*.db
*.sln
*.opendb
*.stash
*.vcxproj*
Make*
*.app

.DS_Store
.qmake.stash
CS472.icns
CS472.ico
CS472.pro
CS472.qrc
CS472.rc
CS472.vcxproj
CS472.vcxproj.filters
CS472.vcxproj.user
CS472_common.pro
dummy.cpp
dummy.h
HW.cpp
HW.h
main.cpp
MainWindow.cpp
MainWindow.h
mandrill.jpg